@import url("https://fonts.googleapis.com/css2?family=Amatic+SC&display=swap");

* {
  font-family: "Amatic SC", cursive;
}

body {
  background-color: rgb(210, 105, 30, 0.5);
}

.navBar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0 3px 6px hsl(0deg 0% 50% / 28%);
  background-color: chocolate;
}

.navBar-routes {
  display: flex;
  flex-direction: row-reverse;
}

.texto-nav-bar {
  text-decoration: none;
}

.logo {
  width: 200px;
  height: 100px;
  margin: 5px;
}

.navBar-item {
  font-size: 50px;
  margin: 10px;
  text-decoration: none;
  color: black;
}

.navBar-item a:visited {
  color: black;
}

.cardsArea {
  display: flex;
  justify-content: center;
}

.cards {
  margin: 100px;
  max-width: 800px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.notFoundPage {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 200px;
}

.formArea {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 500px;
  padding: 3rem;
}

.loginForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgb(210, 105, 30);
  border-radius: 75px;
  max-width: 800px;
  height: 500px;
  width: 50%;
}

.cadastroForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgb(210, 105, 30);
  border-radius: 75px;
  max-width: 800px;
  height: 500px;
  width: 50%;
}

.formLabel {
  font-size: 30px;
  font-weight: bolder;
  padding: 10px;
  display: flex;
  flex-direction: column;
  width: 200px;
}

.status {
  display: none;
}

.formLabel input {
  border-top: none;
  border-left: none;
  border-right: none;
  height: 20px;
  font-size: 24px;
  background-color: transparent;
  margin: 2px;
}

.formLabel input:focus,
textarea:focus {
  outline: none;
}

.formBtn {
  width: 100px;
  font-size: 35px;
  font-weight: bolder;
  border: none;
  margin: 5px;
  background-color: transparent;
}
